.container {
  background: rgb(27,77,62);
  background: linear-gradient(90deg, rgba(27,77,62,1) 0%, rgba(1,135,73,1) 67%, rgba(23,177,105,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  height: calc(100vh - 60px);
}